@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.wrapper {
  width: 100%;
  background-color: #f2f2f2;
  margin: auto;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

.header__inner {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__box {
  background-color: #74cfae;
  font-size: 12px;
  color: #fff;
  padding: 14px 12px;
  transition: all .3s;
}

.header__box:hover {
  transition: all .3s;
  color: #333;
}

.bolt {
  color: #4e4e4e;
}

body {
  font-family: "Lato";
}

.main__theme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  text-align: center;
  padding: 300px 0 250px 0;
}

.main__theme__tx {
  font-size: 30px;
  color: #c0c0c0;
  font-weight: 100;
  margin-top: 20px;
}

.sect {
  background-color: #74cfae;
  padding-top: 50px;
}

.main__sect {
  text-align: center;
  display: flex;
  justify-content:space-around
}

.main__sect__right {
  width: 700px;
}

.main__sect__tx {
  color: #fff;
  font-family: "Raleway";
}

.main__sect__tx__top {
  font-size: 24px;
  margin-bottom: 35px;
}

.main__sect__tx__bottom {
  font-size: 20px;
  line-height: 25px;
}

.art {
  padding: 60px 0px 70px;
}

.main__art__img {
  margin-top: 40px;
  font-size: 0;
}

.art__img {
  display: inline-block;
  margin: 80px 0 0 100px;
  transition: all .3s;
  opacity: 0.7;
  cursor: pointer;
}

.art__img:nth-child(3n+1) {
  margin-left: 0;
}

.art__img:nth-child(-n+3) {
  margin-top: 0;
}

.art__img:hover {
  transition: all .3s;
  opacity: 1;
}

.main__art__tx__top {
  color: #333;
  font-size: 24px;
  font-family: "Raleway";
  text-align: center;
}

.main__art__right {
  margin-top: 90px;
  text-align: center;
}

.main__art__tx__bottom {
  font-size: 20px;
  line-height: 25px;
  font-family: "Raleway";
  width: 610px;
  margin-right: 90px;
  text-align: center;
  display: inline-block;
}

.main__art_inner {
  display: inline-block;
  color: #fff;
  background-color: #74cfae;
  padding: 14px 20px;
  font-size: 12px;
  transition: all .3s;
  vertical-align: top;
}

.main__art_inner:hover {
  transition: all .3s;
  color: #333;
}

.circle {
  background-color: #4e4e4e;
}

.main__sect__circle {
  padding: 70px 0 100px;
}

.main__sect__circle__tx {
  font-size: 24px;
  color: #f2f2f2;
  text-align: center;
  margin-bottom: 70px;
}

.main__circle {
  text-align: center;
}

.main__sect__circle__img {
  display: inline-block;
  margin-left: 180px;
}

.main__sect__circle__img:first-child {
  margin-left: 0;
}

.circle__tx {
  color: #f2f2f2;
  padding: 10px;
}

.nav {
  padding: 200px 0;
}

.main__nav {
  text-align: center;
}

a {
  text-decoration: none;
}

.nav__icon {
  display: inline-block;
}

.sns {
  display: inline-block;
  color: #74cfae;
  width: 185px;
  padding: 30px 0;
  transition: all .3s;
}

.sns:hover {
  background-color: #fff;
  transition: all .3s;
}

.footer {
  background-color: #74cfae;
  width: 100%;
  text-align: right;
}

.footer__tx {
  color: #fff;
  right: 300px;
  padding: 20px 0 25px;
}